.page {
	width: 100vw;
	height: 100vh;
	background-color: white;

}

.index-card {
	width: 70vw;
	height: 40vw;
	background: repeating-linear-gradient(beige 0px, beige 20px, lightblue 20px, lightblue 22px);
	box-shadow: 15px 10px 5px darkgray;
	border-radius: 10px;
	padding: 0px 5vw;
	color: #2b1a13;
	margin: auto;
	transform: translateY(25%);
	overflow-y: scroll;
}

.content div{
	display: inline;

}

.top h1{
	text-align: center;
	color: darkred;
	position: static;
	font-size: 18ew;
	background-color: beige;
	border-bottom: 2px solid red;
	width: inherit;
	font-family: 'Rock Salt', monospace;
	font-style: normal;
	font-weight: normal;
}

.index-card a {
	color: black;
}

.index-card a:hover {
	font-weight: strong;
	color: black;
}

.index-card a:visited {
	color: black;
	text-decoration: underline;
}

.index-card li, .index-card ul, .index-card ol {
	margin-left: 10px;
	vertical-align: top;
}

.index-card img {
	float: left;
	margin: 0px 30px 10px 10px;
	width: 200px;
	max-width: 20vw;
}

.index-card p, .index-card a, .index-card li {
	font-family: 'Homemade Apple', monospace;
	font-weight: normal;
	font-style: normal;
}








/*

.top h1 {
	color: darkred;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	align-content: flex-start;

	
}
.bottom{
	align-content: flex-end;
	flex-direction: column;
}
.sideimg .centerimg{
	max-width: 15vw;
	height: auto;
}
.sideimg{
	align-items: flex-start;

}

.centerimg{
	align-items: center;
}*/